.header {
    display: grid;
    padding-top: 75px;
    padding-bottom: 25px;
    transition: all 0.4s ease;
    margin: 0 auto;
    grid-template-columns: repeat(4, 25% [col-start]);
    min-height: 18vh;
    grid-template-areas: 
        "main main main links";

    .header__hr {
        display: none;
        opacity: 0.3;
    }

    .header__logo {
        grid-area: main;

        .header__h1 {
            font-size: 2em;
            font-weight: 300;
        }
    }

    .header__details {
        grid-area: links;
        font-size: .7em;
        letter-spacing: 1.5px;
        color: #8cb0b5;
        font-weight: 400;
    }

    .header__ul {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;

        .header__li {
            display: inline;

            a:link, a:visited {
                text-decoration: none;
                color: #8cb0b5;
                transition: 0.3s ease-in-out;
            }

            a:hover {
                color: #575757;
            }
        }
    }
}