@media only screen and (max-width: 600px) {
    .icon {
        display: none;
    }

    .headerlinks {
        margin: 50px;
        left: 0;
    }

    .main, .contact, footer p {
        width: 90%;
    }

    .gallery__column {
        flex: 50%;
        max-width: 50%;
    }
} 